pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
matplotlib>=3.7.0
seaborn>=0.13.0
xgboost>=2.0.0
lifelines>=0.30.0
shap>=0.45.0
lime>=0.2.0.1
joblib>=1.3.0

pip install xgboost --extra-index-url https://pypi.nvidia.com
